<div class="card" style="width: 480px;
margin-left: 30%;
margin-top: 10px;
border: 1px #000000 solid;
border-radius: 5px;
padding: 10px 10px 10px 10px;
box-shadow:2px 2px grey">
  <form>
    <div style="text-align: center">
      <h3>Application Form</h3>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" required>
    </div>

    <div class="form-group">
      <label for="email1">Email address</label>
      <input type="email" class="form-control" id="email1" aria-describedby="emailHelp"
             placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" placeholder="Age">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
    </div>

    <div class="form-group">
      <label>Preffered Way of Communication:</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="emailRadio" id="emailRadio">
        <label for="emailRadio" class="form-check-label">&nbsp;Email</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" name="phoneRadio" id="phoneRadio">
        <label for="phoneRadio" class="form-check-label">&nbsp;Phone</label>
      </div>
    </div>

    <div class="form-group">
      <label for="levelSelect">English Level</label>
      <select class="form-control" id="levelSelect">
        <option>No knowledge of English</option>
        <option>Elementary level of English(A2)</option>
        <option>Low intermediate level of English(B1)</option>
        <option>High intermediate level of English(B2)</option>
        <option>Advanced level of English(C1)</option>
        <option>Proficient in English(C2)</option>
      </select>
    </div>

    <div class="form-group">
      <label for="startDate">Available to Start</label>
      <input type="date" class="form-control" id="startDate">
    </div>

    <div class="form-group">
      <label for="tss">Technical Skills and Courses</label>
      <textarea class="form-control" id="tss" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="spp">Short Personal Presentation</label>
      <textarea class="form-control" id="spp" rows="5" placeholder="Reason(s) for joining the program, etc."></textarea>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="studyFromHome">
      <label class="form-check-label" for="studyFromHome">Study from home</label>
    </div>
  <div class="form-group" style="text-align: center; padding-top: 10px;">
    <button type="submit" class="btn btn-primary" style="width: 100px; font-size: 18px">Submit</button>
  </div>

  </form>
</div>

